<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	   th:fragment="defaultHeader">
<div class="container">
  <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="https://www.google.com/search?sca_esv=b3b81d1d30ec7baa&q=%EA%B3%A0%EC%96%91%EC%9D%B4&udm=2&fbs=AEQNm0DmKhoYsBCHazhZSCWuALW8l8eUs1i3TeMYPF4tXSfZ9zKNKSjpwusJM2dYWg4btGKvTs8msUkFt41RLL2EsYFXj1HJ-6Tz3zY-OaA8p5OIwKXtepe1nwMbiobd8aopYI3Djq-_wHNSyqi1J5rXtrZ-dEOjuJfkJpxXj8pUC3HmGzP_4yQ_xdzK9qDO3vbGQ9OKpWceCh1Pu2_RMxyWEg0WL5jtkA&sa=X&ved=2ahUKEwiUr_GYma2IAxWEafUHHWnIL9gQtKgLegQIDxAB&biw=1850&bih=993&dpr=1" class="nav-link active" aria-current="page">DO NOT CLICK</a></li>
        <li class="nav-item"><a href="/empList" class="nav-link">사원 전체 조회</a></li>
        <li class="nav-item"><a href="/empInsert" class="nav-link">사원등록</a></li>
      </ul>
    </header>
  </div>
</html>