<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		th:fragment="deptHeader">
<div class="container">
	<header class="p-3 bg-dark text-white">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="https://www.youtube.com/watch?v=T3bxbVGWy5k" class="btn btn-danger">The button</a></li>
          <li><a href="/deptList" class="nav-link px-2 text-white">부서 목록</a></li>
          <li><a href="/insertDeptForm" class="nav-link px-2 text-white">신규 부서 등록</a></li>
        </ul>

       <!--   <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>
		-->
		
        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
      </div>
	</header>
</div>
</html>