<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<title>emp.insert</title>
</head>
<body>
	<h1>여기는 등록 폼</h1>
	<hr>
	<form th:action="@{/empInsert}" method="post">
		<h3>사원 정보 등록</h3>
		<div>
			<label for="lastname">이름</label>
			<input type="text" id="lastname" name="lastName"> <!-- 값을 받아 줄 컨트롤러를 참고 해서 VO내의 이름을 입력-->
		</div>
		<div>
			<label for="email">이메일</label>
			<input type="email" id="email" name="email">
		</div>
		<div>
			<label for="hireDate">입사일자</label>
			<input type="date" id="hireDate" name="hireDate">
		</div>
		<div>
			<label for="job">업무</label>
			<input type="text" id="job" name="jobId">
		</div>
		<div>
			<label for="salary">급여</label>
			<input type="number" step="0.01" min="1" id="salary" name="salary">
		</div>
		<div>
			<button type="submit">등록</button>
		</div>
	</form>
</body></html>