<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="Content">
<div class="text-center">
		<h3>도서 목록</h3>
		<table class="table">
			<thead>
				<tr>
					<th>도서번호</th>
					<th>도서명</th>
					<th>표지</th>
					<th>출판일자</th>
					<th>금액</th>
					<th>출판사</th>
					<th>도서소개</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="bookData : ${bookList}">
					<tr >
						<td>[[${bookData.bookNo}]]</td>
						<td>[[${bookData.bookName}]]</td>
						<td>
						<img style="width:20%;" th:src="@{/images/{imgFile}(imgFile=${bookData.bookCoverimg})}">
						</td>
						<td>[[${#dates.format(bookData.bookDate, "yyyy/MM/dd")}]]</td>
						<td>[[${bookData.bookPrice}]]</td>
						<td>[[${bookData.bookPublisher}]]</td>
						<td>[[${bookData.bookInfo}]]</td>
					</tr>	
				</th:block>
			</tbody>
		</table>
	</div>
</html>